<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hos.mapper.SellerServiceMapper">

    <select id="getSellerById" resultType="com.hos.entity.Seller"  parameterType="String">
        SELECT sellerId,employee_id,username,password,root FROM `user` WHERE sellerId=#{0}
    </select>

    <update id="register">
        INSERT INTO `user` values
        (#{params.sellerId},#{params.employee_id},#{params.username},#{params.password},#{params.root})
    </update>
</mapper>