<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hos.mapper.SystemLoggerMapper">
    <update id="addLog" >
        insert into sys_log (visitTime,user_id,ip,url,className,methodName,args,excutionTime) values
        (default ,#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7})
    </update>
</mapper>